In [3]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/2c/57/af502e0e113f139b3f3add4f1efba899a730a365d2264d476e85b9591da5/PyMySQL-0.10.0-py2.py3-none-any.whl (47kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.10.0

In [4]:
import pymysql

In [10]:
conn = pymysql.connect(host = "dbsrd3596", user = "iuxd_own", password = "ae4B93Eb", database="iuxd01")

In [11]:
c = conn.cursor()

In [22]:
# Write the SQL you needed here
c.execute("SELECT * from TS04_HDP_NDC;")

#Use fetchone to get only first row
first_row = c.fetchone()
print(first_row)

#Use fetchall to get all rows
all_rows = c.fetchall()
print(all_rows)

('00225052848', 'Y')
(('45802058084', 'N'), ('45802058062', 'N'), ('00378932032', 'N'), ('00378932132', 'N'), ('00378932232', 'N'), ('00078034642', 'N'), ('00078034642', 'N'), ('00078034542', 'N'), ('15370015004', 'N'), ('66993060536', 'N'), ('62559011107', 'N'), ('00093598627', 'N'), ('00093598627', 'N'), ('05928004530', 'N'), ('45802058084', 'N'), ('70007040036', 'N'), ('64597031108', 'N'), ('63323064907', 'N'), ('00093598627', 'N'), ('51801000140', 'N'), ('45802058062', 'N'), ('00378932132', 'N'), ('00078034642', 'N'), ('00078034642', 'N'), ('00225052547', 'N'), ('00093360982', 'N'), ('00378932132', 'N'), ('00378932032', 'N'), ('00078034542', 'N'), ('66993060536', 'N'), ('00378932032', 'N'), ('00378932232', 'N'), ('00378932032', 'N'), ('00093598527', 'N'), ('05928004530', 'N'), ('05928004530', 'N'), ('45802058062', 'N'), ('00378932132', 'N'), ('00378932232', 'N'), ('00245003623', 'N'), ('00093598527', 'N'), ('05928000099', 'N'), ('00378932232', 'N'), ('00078034542', 'N'))

In [16]:
# To retrieve only first 10 rows
print(all_rows[0:10])

(('45802058084', 'N'), ('45802058062', 'N'), ('00378932032', 'N'), ('00378932132', 'N'), ('00378932232', 'N'), ('00078034642', 'N'), ('00078034642', 'N'), ('00078034542', 'N'), ('15370015004', 'N'), ('66993060536', 'N'))

In [21]:
import pandas as pd
df = pd.DataFrame(list(all_rows), columns=['NDC', 'Process_Status'])
df.head()

           NDC Process_Status
0  45802058084              N
1  45802058062              N
2  00378932032              N
3  00378932132              N
4  00378932232              N